.checkbox-container {
  position: absolute;
  left: 45%;
  top: 30%;
}

.checkbox-container div {
  margin-bottom: 20px;
}

.extra-sql-checkbox {
  position: relative;
  left: +20%;
}

.error-message {
  color: red;
  position: absolute;
  left: 45%;
  top: 65%;
}

.submit {
  position: absolute;
  left: 45%;
  top: 73%;
}

.chevron-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  left: 0;
  top: 78%;
}

.chevron {
  flex: 0 1 auto;
  height: 50px;
  clip-path: polygon(100% 0%, 98% 50%, 100% 100%, 2% 100%, 0% 50%, 2% 0);
}

.color-1 {
  background-color: #00008B;
}

.color-2 {
  background-color: #0000CD;
}

.color-3 {
  background-color: #1E90FF;
}

.color-4 {
  background-color: #87CEFA;
}

.color-5 {
  background-color: #B0E0E6;
}

@media (max-width: 768px) {
  .chevron-container {
    height: 100%;
    top: 0;
    left:-110px;
    flex-direction: column;
  }

  .chevron {
    height: 100px;
    transform: rotate(-90deg);
  }
}